.iconButton {
	background: transparent;
	border: none;
}

.primary {
	background: #00e676;
	width: 100%;
	padding: 8px;
	border: none;
	margin: 8px 0;
	text-align: center;
	border-radius: 4px;
}

.secondary {
	background: transparent;
	border: none;
	color: #888;
	text-align: center;
	width: 100%;
	margin: 8px 0;
}

.destructive {
	color: #ff8c96;
}

/* Material icons */

.materialIcons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #f0f0f0;

	transition: color 0.5s;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.iconButton:hover .materialIcons {
	color: #00e676;
}
